<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hola{{user.name}}</h1>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Apellido
            </th>
            <td>
                Guapura 1-10
            </td>
            <td>Esta soltero</td>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.apellido }}</td>
            <td>{{ row.guapura }}</td>
            <td>{{ row.soltero }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>{{ val }}</h1>
    <h1>{{ val_2 }}</h1>

</body>

</html>